// .page-header {
// 	padding-bottom: 389px;
// }

.page-header__intro {
	min-height: 389px;
	// height: 100%;
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;
	padding-top: 90px;
	background-color: #e4f1f9;
	background-image: url("../img/background-triangle.svg"),
										url("../img/back-mobile.png");
	background-size: auto, auto 389px;
	box-sizing: border-box;

	background-repeat: no-repeat;
	background-position: 50% bottom;
	// background-size: 768px 389px, auto;
	// background-size: auto 320px;

	@media (max-width: 767px) and (min-resolution: 144dpi),
			(max-width: 767px) and (min-resolution: 1.5dppx) {
			background-image: url("../img/background-triangle.svg"),
												url("../img/bg-back-mobile@2x.jpg");
			// background-size: 100%, auto 479px;
			background-size: auto, auto 389px;
		}
}



@media @tablet-widths {

	.page-header__intro img{
		height: 350px;
		width: 460px;
	}
	// .page-header__logo {
	// 	position: absolute;
	// 	top: 0;
	// 	margin-left: auto;
	// 	margin-right: auto;
  //   left: 0;
	// 	right: 0;
	// }
	.page-header__intro {
		min-height: 518px;
		padding-top: 78px;
		@media (min-width: 768px) and (min-resolution: 144dpi),
				(min-width: 768px) and (min-resolution: 1.5dppx) {
				background-image: url("../img/background-triangle.svg"),
													url("../img/bg-back-desktop@2x.jpg");
				background-size: 100%, auto 596px;
				// background-size: auto, 2400px auto;
				// background-size: auto, 1036px 518px;
				// background-size: auto, 518px;
			}
	}

}


@media @desktop-widths {
	.page-header__logo {
		height: 96px;
	}
}
