
.video-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-video__header--video-pres {
  &::after {
    display: none;
  }
}

.player-screen {
  min-height: 201px;
  width: 320px;
  background-image: url("../img/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 201px;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min-resolution: 144dpi) {

     background-image: url("../img/video-mobile@2x.jpg");
   }
}

.player-controls {
  position: relative;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  position: absolute;
  top: -45px;
  width: 280px;
  height: 45px;
  background-color: rgba(0,0,0,0.5);

  &::before {
    content: "";
    position: absolute;
    left: 22px;
    right: 22px;
    top: 50%;
    // width: 235px;
    height: 3px;
    background-color: rgba(255,255,255,0.3);
    transform: translate(0,-50%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(0,-50%);
  }
}

.player-controls__btn {
  width: 70px;
  min-height: 66px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

}

.player-controls__btn--subs {
  width: 40px;
  margin-left: auto;
}

.player-icon {
  fill: #5c6870;
  &:hover {
    fill: #333333;
  }
}

// #icon-video-replay {
//   fill: #5c6870;
// }
//
// #icon-video-subtitles {
//   fill: #5c6870;
// }
//
// #icon-video-fullscreen {
//   fill: #5c6870;
//
// }

// .player-controls__btn:hover{
//
//     fill: #333333;
//
// }



@media @tablet-widths {
  .video-presentation__video-player {
    position: relative;
  }

  .player-screen {
    min-height: 499px;
    width: 648px;
    background-image: url("../img/video-tablet.jpg");
    background-size: 648px 499px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

       background-image: url("../img/video-tablet@2x.jpg");
     }
  }

  .player-controls {
    position: absolute;
    bottom: 0;
    width: 648px;
    height: 92px;
    background-color: rgba(0,0,0,0.5);
  }

  .player-controls__btn--replay,
  .player-controls__btn--wide {
    width: 90px;
  }

  .progress-bar {
    position: relative;
    top: 0;
    left: 0;
    flex-grow: 1;
    width: auto;
    height: 92px;
    background-color: transparent;

    &::before {
      // width: 389px;
      left: 6px;
      right: 35px;
      height: 4px;
    }
  }

  .player-icon {
    fill: #fff;;
  }

}

@media @desktop-widths {
  .player-screen {
    min-height: 500px;
    width: 800px;
    background-image: url("../img/video-desktop.jpg");
    background-size: 800px 500px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

       background-image: url("../img/video-desktop@2x.jpg");
     }
  }

  .player-controls {
    width: 800px;
  }
}
